# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
*.swp
*.bak

# Django
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node/React/Frontend
node_modules/
dist/
dist-ssr/
build/
*.local
.eslintcache
.stylelintcache
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
.docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
